.asp
90-linux.hook
PKGBUILD.core
PKGBUILD.orig
ufs4-base.patch
aufs4-mmap.patch
aufs4-standalone.patch
cache/
config.i686
config.x86_64
linux-4.11.tar.sign
linux-4.11.tar.xz
linux-aufs_friendly-4.11.9-1.src.tar.gz
linux.install
linux.preset
linux/
patch-4.11.9.sign
patch-4.11.9.xz
patched
src/
pkg

